.login-form-wrapper {
	width: 80vw;
	min-height: 500px;
	background: #ffffff;
	border: 1px solid #eee;
	margin: 10vh auto;
	display: flex;
	align-items: stretch;
	box-shadow: 1px 1px 3px #eee, -1px -1px 3px #eee;

	.logo-wrapper {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #316ade;
		img {
			width: 70%;
			height: 210px;
			object-fit: contain;
		}
	}
}

.card-body {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.card-header {
		font-weight: bold;
		font-size: 30px;
		text-align: center;
		padding: 1rem;
	}

	.form {
		width: 70%;
		margin: 2rem;
		.form-group {
			text-align: center;
			.form-control {
				padding: 1rem;
				background: #eee;
				border: none;
				font-weight: bold;
				width: 100%;
				font-size: 14px;
				margin: 0 auto 1rem;
				outline: none;
			}

			button {
				padding: 1rem;
				width: 100%;
				margin: 1rem 0;
				border: none;
				background: #316ade;
				color: white;
				font-weight: bold;
				font-size: 0.9rem;
				cursor: pointer;
				outline: none;
			}

			button:hover {
				box-shadow: 0px 0px 10px 0px #ccc, 0px 0px 10px 0px #ccc;
			}

			button.loading {
				opacity: 0.5;
				cursor: wait;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.login-form-wrapper {
		width: 95vw;
		flex-direction: column;
		margin: 1rem auto;
		.logo-wrapper,
		.card-body {
			width: 100%;
			padding: 1rem;
			.form {
				width: 100%;
			}
		}
	}
}
