.counters-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 1rem;
	.clock {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: bold;
		background: #1c2f36;
		padding: 0.5rem;
		color: #fff;
		border: 1px solid #fff;
		width: 80px;
		height: 80px;
		justify-content: center;
		.digits {
			font-size: 1.5rem;
		}
		.label {
			font-size: 0.9rem;
			margin-top: 0.5rem;
			text-transform: capitalize;
			color: #ccc;
		}
	}
}
